.restore-btn1 {
    background: #cbcbcb85;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    text-align: center;
    font-weight: 300;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px;
  }

  .htxt{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 50px;
}
.text-content{
    margin-left: 5px;
}

.zdepth1 {
    z-index: 10;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  /* Firefox 3.5 - 3.6 */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }