.updates {
    padding: 0 35px;    
    color: black;

    .updates-content {
      margin-top: 30px;
      align-items: center;
    }
    .version-content {
      font-size: 16px;
      margin-top: 20px;
    }
    .updates-img {
      width: 70px;
      height: 70px;
    }
    .updates-description {
      font-size: 16px;
    }
    .updates-version {

      a {
        text-decoration: none;
      }      
    }
    .version-link {
      color: #30c2ff;
      margin-top: 13px;
    }
}

.red-color {
    color: red;
}
.update-btn {
    padding: 45px 0;
  }

.update-wallet-btn {
  color: white;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  width: 200px !important;
  height: 40px !important;
  font-size: 16px;
  background-image: linear-gradient(21deg, #4b3680 0%, #30c2fff7 100%);

  }