@import '../shared/shared';

.mat-divider { // section divider
  border-bottom: 1px solid lighten($bg-black, 5%);
  border-top: 1px solid darken($bg-black, 5%);
}
.sidebar-bottom-items {
  margin-top: 250px;
  // font-size: 12px !important;
}
.sidebar-item1 {
  @extend %tfx;
  padding: 0 30px;

  .icon {
    @extend %tfx;
    color: darken($bg-black, 15%);
    height: auto;
    margin: 0 16px 0 0;
    width: auto;
  }

  .text {
    color: $text-muted;
    font-family: $font;
    font-size: 14px;
  }

  &:hover {
    background: $bg-hover;

    .icon {
      color: darken($bg-black, 30%);
    }

    .text {
      color: $text;
      font-size: 15px;
      font-weight: 600;
    }
  }
}
.sidebar-section {
  .sidebar-item-group {
    padding-top: 0;
  }
  
}

.mat-expansion-panel {
  background: $bg-black;
  border-bottom: 1px solid darken($bg-black, 5%);
  box-shadow: 0 1px 0 lighten($bg-black, 5%) !important;

  // submenu toggle
  .mat-expansion-panel-header {
    color: lighten($text-muted, 5%);
    font-family: $font;
    font-size: 11.5px;
    padding: 0 32px;
    text-transform: uppercase;
  }
}

.sidebar-item {
  @extend %tfx;
  padding: 0 30px;

  .icon {
    @extend %tfx;
    color: darken($bg-black, 15%);
    height: auto;
    margin: 0 16px 0 0;
    width: auto;
  }

  .text {
    color: $text-muted;
    font-family: $font;
    font-size: 14px;
  }

  &:hover {
    background: $bg-hover;

    .icon {
      color: darken($bg-black, 30%);
    }

    .text {
      color: $text;
      font-size: 15px;
      font-weight: 600;
    }
  }
}

a {
  &.sidebar-item-link {
    outline: none;
    text-decoration: none;

    &.active {
      &::before {
        content: '';
        /*margin-top: 10px;*/
        width: 8px;
        background-color: #108EFF;
        position: absolute;
        height: 42px;
      }

      > .sidebar-item {
        .icon { // highlight active menu item
          color: $color !important;
        }
      }

      .text {
        color: $text;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
}

.notification {
  margin-bottom: 6px;

  .sidebar-item {
    margin: 4px 0;

    .icon {
      margin: 0 14px 0 0;
    }

    .text {
      color: $color-white;
      display: inline-block;
      font-size: 11px;
      line-height: 1.5;
      padding: 0;
    }

    &:hover {
      background: none;
    }
  }

  &.error {
    .icon, &:hover {
      .icon {
        color: $color-alert;
      }
    }
  }

  &.info {
    .icon, &:hover {
      .icon {
        color: $color-info;
      }
    }
  }
}

.sidebar { // AKA .mat-sidenav
  overflow: hidden;
  @extend %disable-select;
  background-color: $bg-white;
  color: $text;
  width: 250px;

  .logo {
    display: block;
    //height: 60px;
    margin: 40px auto;
    width: 100px;
  }

  .logo-area {
    img {
      max-width: 100px;
    }
  }

  // widgets stuck to the bottom (sidebar's footer)
  .pin-to-bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

    // Versions
    .client-version {
      @extend %enable-select;
      color: $text-muted;
      display: block;
      font-size: 11px;
      line-height: 1.6;
      padding: 0 24px;

      .version {
        color: lighten($text-muted, 15%);
        margin-left: 2px;
      }
    }
  }
}

.sync-bar {
  .mat-progress-bar-fill {
    &::after {
      background-color: $color;
    }
  }
}

.sync-progress {
  padding: 0 20px;
}

.header-main {
  @extend %disable-select;
  //background: #fff;
  border-bottom: 1px solid $bg-shadow;
  font-family: $font;
  font-size: 15px;
  font-weight: 700;
  padding-left: 35px;
  padding-right: 26px;
  text-transform: uppercase;
}

.page {
  ::ng-deep.mat-drawer-backdrop {
    visibility: hidden !important;
  }
}
