@import './src/assets/config'; // import shared colors etc.

.modal {
  &.in {
    .modal-dialog {
      height: 100%;
      margin: 0;
      width: 100%;
    }
  }
}

/* ------------------------------- *\
    Modal header
\* ------------------------------- */

.modal-content {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 45px;

  .logo {
    margin: 60px auto;
    max-width: 35%;
  }
}

.close {
  padding: 15px;
}

.status-text {
  bottom: 0;
  left: 0;
  line-height: .9;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-58%);
  width: 100vw;
}

.inverted-status {
  left: auto !important;
  right: 0;
}

.percentage-bar {
  background-color: $color;
  bottom: 0;
  color: $color-black;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: width .2s;
}

.inverted-bar {
  background-color: $color-black !important;
  color: $color !important;
  right: 0 !important;
}

img {
  &.logo {
    height: 100%;
    margin-bottom: 45px;
    max-height: 295px;
    width: 19%;
  }
}

.close-button {
  border: 0 !important;
  box-shadow: none !important;
}

//mat-spinner {
//}
.mat-spinner {
  &.mat-progress-spinner {
    &.mat-primary {
      padding-left: 46%;

      &[_ngcontent-c20] {
        position: relative;
        z-index: 555;

        &::before {
          background: $color-grey;
          bottom: 0;
          content: '';
          display: block;
          left: 0;
          position: fixed;
          right: 0;
          top: 0;
          z-index: 0;
        }
      }
    }
  }
}
