@import './src/assets/config'; // import shared colors etc.

.balance {
  @extend %enable-select;
  padding-top: 7px;

  > .number {
    color: $text;
  }

  > .point {
    color: $text;
  }

  > .big {
    font-size: 24px;
    @media screen and (min-width: 1500px) {
      font-size: 28px;
    }
  }

  > .small {
    font-size: 13px;
    @media screen and (min-width: 1500px) {
      font-size: 15px;
    }
  }

  > .description {
    @extend %disable-select;
    color: $text;
    margin-bottom: 20px;
    margin-top: 6px;
  }

  > .divider {
    border-top: 1px solid darken($color-light-grey, 5%);
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
