<div class="balance">
  <p class="description" [style.color]="color">{{getTypeOfBalance()}}</p>
  <span class="number big" [style.color]="color">{{balance.getIntegerPart()}}</span>
  <span class="point big" [style.color]="color">{{balance.dot()}}</span>
  <span class="number medium" [style.color]="color">{{balance.getFractionalPart() || ''}}</span>
  <div class="divider"></div>
  <!-- ~ X.y BTC ($Z) -->
  <span class="number small" [style.color]="color">0 BTC</span>
  <!--<span class="point small" [style.color]="color"></span>-->
  <!--<span class="number small" [style.color]="color"></span>-->
  <!--<span class="number small" [style.color]="color">BTC</span>-->
  <span class="number small" [style.color]="color">($0)</span>
  <div class="pending margin-top-20px">

  </div>
  <div class="margin-top-30px buttons" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-raised-button>
      <!--<mat-icon fontSet="partIcon" fontIcon="part-arrow-up"></mat-icon>-->
      <fa-layers class="fa-fw">
        <fa-icon [icon]="faCircle" size="2x"></fa-icon>
        <fa-icon transform="shrink-6" [icon]="faArrowUp"></fa-icon>
      </fa-layers>
      Send
    </button>
    <button mat-raised-button>
      <fa-layers class="fa-fw">
        <fa-icon [icon]="faCircle" size="2x"></fa-icon>
        <fa-icon transform="shrink-6" [icon]="faArrowDown"></fa-icon>
      </fa-layers>
      {{ getButtonName() }}
    </button>
    <button mat-raised-button class="small">...</button>
  </div>
</div>
