@import "./src/assets/_config"; // import shared colors etc.

@media screen and (min-width: 1280px) {
}

.balance {
  @extend %enable-select;
  padding-top: 7px;
  & > .number {
    color: $text;
  }
  & > .point {
    color: $text;
  }
  & > .big {
    font-size: 24px;
    @media screen and (min-width: 1500px) {
      font-size: 28px;
    }
  }
  & > .small {
    font-size: 13px;
    @media screen and (min-width: 1500px) {
      font-size: 15px;
    }
  }
  & > .description {
    @extend %disable-select;
    color: $text;
    margin-top: 6px;
    margin-bottom: 20px;
  }

  & > .divider {
    border-top: 1px solid darken($color-light-grey, 5%);
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
