@import './src/assets/config'; // import shared colors etc.

$list-item-bg: rgba($color, .04);

.modal-content {
  overflow: visible; // gets rid of vertical scrollbars (not needed here)
}

.search-address { // address/label search
  margin-top: 15px;

  .mat-icon {
    font-size: 14px;
    right: 18px;
    top: 4px;
  }
}

.address-type { // address type filter (select)
  margin-top: 25px;
}

.mat-list {
  margin: 0 -24px;

  .mat-list-item {
    &:not(.list-header) {
      &:hover {
        background: $list-item-bg;

        .address {
          color: darken($color, 5%);
        }
      }
    }
  }

  .mat-divider {
    margin: 0;
  }
}

.list-header {
  padding: 0 8px;

  .address-list-header { // list column labels
    color: $text-muted;
    font-family: $font;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.address-entry { // single address item
  cursor: pointer;
  font-family: $font;
  font-size: 13px;
  padding: 0 8px;

  .label {
    font-weight: 700;
    text-transform: uppercase;
  }

  .address {
    background: transparent;
    color: $text-muted;
    font-family: monospace;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background .3s;
  }
}

.mat-paginator {
  border-bottom: 0;
  border-top: 1px solid $bg-shadow;
  margin: 0 -24px -24px;
}
