<mat-table [dataSource]="dataSource" *ngIf="!display.recent">

  <ng-container matColumnDef="Type" cdkColumnDef="Type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
    <mat-cell class="type" *matCellDef="let element">
      <div *ngIf="element.category == 'send'">
        <img *ngIf="element.is_ghosted" src="./assets/icons/SVG/arrow-transfer-circle.svg">
        <img *ngIf="!element.is_ghosted" src="./assets/icons/SVG/arrow-up-circle.svg">
        <p>{{ element.is_ghosted? 'Transferred from wallet' : 'Sent from wallet'}}</p>
      </div>

      <div *ngIf="element.category == 'receive'">
        <img *ngIf="element.is_ghosted" src="./assets/icons/SVG/arrow-transfer-circle.svg">
        <img *ngIf="!element.is_ghosted" src="./assets/icons/SVG/arrow-down-circle.svg">
        <p>{{ element.is_ghosted? 'Transferred from vault' : 'Received'}}</p>
      </div>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="Amount" cdkColumnDef="Amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
    <mat-cell class="amount" *matCellDef="let element">
      {{ element.amount | number}} NIX
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Address" cdkColumnDef="Address">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
    <mat-cell class="address" *matCellDef="let element">
      <div *ngIf="element.label != undefined">
        <span>{{element.category == 'send' ? 'To: ' : 'From: '}}</span>{{element.label == '' ? element.address : element.label}}
      </div>

      <div *ngIf="element.label == undefined">
        <span>{{element.category == 'send' ? 'To: ' : 'From: '}}</span>{{element.category == 'send' ? 'Ghost vault ' : 'Ghost vault '}}
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Status" cdkColumnDef="Status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
      <div class="status" fxLayout="row" fxLayoutGap="10px" *ngIf="element.confirmations > 0">
        <div class="complete-status"></div>
        <p>Complete</p>
      </div>

      <div class="status" fxLayout="row" fxLayoutGap="10px" *ngIf="element.confirmations <= 0">
        <div class="processing-status"></div>
        <p>Processing</p>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Date" cdkColumnDef="Date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
    <mat-cell class="date" *matCellDef="let element">
      <div fxLayout="row" fxLayoutGap="20px">
        {{element.time * 1000 | date: 'dd LLLL yyyy'}}
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row [fxShow]="display.header" *matHeaderRowDef="display.columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: display.columns;" class="transaction-row" (click)="showTransactionInModal(row)"></mat-row>
</mat-table>

<mat-table [dataSource]="dataSource" *ngIf="display.recent">

  <ng-container matColumnDef="type" cdkColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
    <mat-cell class="type" *matCellDef="let element">
      <div *ngIf="element.category == 'send'">
        <img src="./assets/icons/SVG/arrow-up-circle.svg">
        <p>Sent NIX</p>
      </div>

      <div *ngIf="element.category == 'receive'">
        <img src="./assets/icons/SVG/arrow-down-circle.svg">
        <p>Received NIX</p>
      </div>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="amount" cdkColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
    <mat-cell class="amount" *matCellDef="let element">
      {{ element.amount | number}} NIX
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="status" cdkColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
      <div class="status" fxLayout="row" fxLayoutGap="10px" *ngIf="element.confirmations > 0">
        <div class="complete-status"></div>
        <p>Complete</p>
      </div>

      <div class="status" fxLayout="row" fxLayoutGap="10px" *ngIf="element.confirmations <= 0">
        <div class="processing-status"></div>
        <p>Processing</p>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date" cdkColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
    <mat-cell class="date" *matCellDef="let element">
      <div class="recent-date">
        <span class="recent-date__month">{{element.time * 1000 | date: 'MMM'}}</span>
        <span class="recent-date__day">{{element.time * 1000 | date: 'dd'}}</span>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row [fxShow]="display.header" *matHeaderRowDef="display.columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: display.columns;" (click)="showTransactionInModal(row)"></mat-row>
</mat-table>

<div *ngIf="transactionInfo.length == 0">
  No data to display
</div>
