$bg-warning: rgba($color-alert, .1);
$bg-success: rgba($color-success, .1);

.container {
  bottom: 70px;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 80px;

  .content {
    margin: auto;
    max-width: 560px;
    width: 100%;

    .section {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .title { // content's title
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .subtitle { // "H2" subtitle
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .actions { // container for action buttons
      margin: 20px 0 30px;
      text-align: center;

      &.text-left {
        text-align: left;
      }
    }
  }
}

p {
  font-size: 13px;

  &.warning {
    background: $bg-warning;
    border-left: 3px solid $color-alert;
    font-weight: 600;
    margin: 20px 0;
    padding: 15px 25px;

    .mat-icon {
      color: $color-alert;
      height: auto;
      margin-right: 10px;
      width: auto;
    }
  }

  &.success {
    background: $bg-success;
    border-left: 3px solid $color-success;
    font-weight: 600;
    margin: 20px 0;
    padding: 15px 25px;

    .mat-icon {
      color: $color-success;
      height: auto;
      margin-right: 10px;
      width: auto;
    }
  }
}

small {
  color: $text-muted;
  font-size: 90%;
}
