<div class="header" fxLayout="row" fxLayoutGap="5%">

    <div fxFlex="67" fxFlexOrder="1">
      <!-- <h5 class="text-uppercase">{{ heading }}</h5> -->
      <div class="title3">{{ heading }}</div>
    </div>
  
    <div class="actions" fxFlex="33" fxLayoutAlign="end center" fxFlexOrder="2">
  
      <button *ngIf="showFilters" class="filter-btn" mat-raised-button (click)="toggleFilter()">
        <img src="assets/icons/SVG/filter-icon-black.svg" alt="up-arrow">
        Filter
      </button>
  
      <button *ngIf="showFilters" class="download-btn" mat-raised-button>
        <img src="assets/icons/SVG/download-icon.svg" alt="up-arrow">
        Download history
      </button>

  
      
    </div>
  </div>