<div *ngIf="data.walletType === 'wallet'" class="wallet">
  <div class="modalcontent">
    <h5 fxFlex="50">Receive NIX to Wallet</h5>

    <div class="accountlist">
      <div *ngFor="let item of receivedNixInfo">
        <div _ngcontent-c7="" class="divider"></div>
        <div class="amountsend">

          <div class="recipientdtls" fxLayout="row">
            <span class="recipient" fxFlex="70">{{item.account ? item.account : 'default'}}</span>
            <span class="lastused" fxFlex="30" fxLayoutAlign="end">Last used: 06/06/2018</span>
          </div>

          <div fxLayout.gt-md="row" fxLayoutGap="5px">
            <input class="modalinput" matInput fxFlex="75" placeholder="Enter value" [(ngModel)]="item.address" disabled>
            <button class="dotbtn" fxFlex="10" (click)="openShowQR(item.address)">...</button>
            <button class="copybtn" fxFlex="15" matTooltip="Copy address" ngxClipboard
            [cbContent]="item.address" (click)="copyToClipBoard()">Copy</button>
          </div>

        </div>
      </div>
    </div>

    <div class="send buttons" fxLayout="row" fxLayoutAlign="space-between">
      <button class="cancelbtn" fxFlex="40" (click)="close()">Cancel</button>
      <button class="sendbtn" fxFlex="40" (click)="openSuccess('wallet')">New address</button>
    </div>
  </div>

</div>


<div *ngIf="data.walletType === 'vault'" class="vault">
  <div class="modalcontent">
    <h5 fxFlex="50">Deposit NIX to Ghost Vault</h5>
    <div _ngcontent-c7="" class="divider"></div>

    <div class="amountsend">
      <p>Amount to Ghost</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" type="number" matInput fxFlex="100" placeholder="Enter value" (ngModelChange)="getSendingAmount($event)"
          [(ngModel)]="depositToVault.amount" onkeypress="return (event.chaCode == 8 || event.charCode == 0 || event.charCode ==13) ? null : event.charCode >= 48 && event.charCode <= 57">
        <span class="input-text" *ngIf="data.currency == 'USD'">({{convertUSD |  currency : 'USD' : 'symbol'}})</span>
        <span class="input-text" *ngIf="data.currency == 'EUR'">({{convertEUR |  currency : 'EUR' : 'symbol'}})</span>
      </div>
      <div fxLayout.gt-md="row" class="deposit-available">
        <div style="color:#b2b2b2" fxFlex="80">Available: {{balance}} NIX</div>
      </div>

      <p>Type the password to confirm the transaction</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" matInput fxFlex="100" [type]="showPassword ? 'text' : 'password'" placeholder="Enter password" [(ngModel)]="walletPassword" required>
      </div>

      <div class="password-toggle">
        <button mat-button (click)="togglePassword()">
          <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
          {{ passwordLabelText() }} password
        </button>
      </div>
    </div>    

  </div>

  <div class="modaldetails">
    <div>
      <div class="transdetail" fxLayout.gt-md="row">
        <span class="modallabel" fxFlex="30">Sending</span>
        <span class="nixlabel" fxFlex="70" fxLayoutAlign="end">{{amount}}
          <span>&nbsp; NIX</span>
        </span>
      </div>

      <div class="transdetail" fxLayout.gt-md="row">
        <span class="modallabel" fxFlex="30">Fee</span>
        <span class="nixlabel" fxFlex="70" fxLayoutAlign="end">{{fees | number: '.4'}}
          <span>&nbsp;NIX</span>
        </span>

      </div>

      <div class="transtotal" fxLayout.gt-md="row">
        <span fxFlex="30">Total</span>
        <span fxFlex="70" fxLayoutAlign="end">{{total | number: '.4'}}
          <span>&nbsp; NIX</span>
        </span>
      </div>
    </div>
  </div>

  <div class="send buttons" fxLayout="row" fxLayoutAlign="space-between">
    <button class="cancelbtn" fxFlex="40" (click)="close()">Cancel</button>
    <button class="sendbtn" fxFlex="40" (click)="depositSuccess()">Deposit to Vault</button>
  </div>
</div>

