@import './src/assets/config';

.wallet {

  .divider[_ngcontent-c7] {
    border-top: 1px solid #EAEAEA;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  h5 {
    display: inline;
    color: #293246;
    font-family: "Helvitica", sans-serif;
    font-weight: 300;
  }

  .modalcontent {
    padding: 24px;
  }

  .modaldetails {
    padding: 24px;
    background-color: #F8F8F8;
  }

  .fright {
    float: right;
  }

  .fleft {
    float: left;

  }

  .transdetail {
    margin-bottom: 10px;

  }

  .transtotal {
    color: #4e4e4e;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;

  }

  .send {
    padding: 40px 0px 20px 0px;

  }

  .sendbtn {
    background-color: #108EFF;
    color: white;
    width: 100%;
    border-radius: 5px;
    font-family: Helvitica, sans-serif;
    font-weight: 300;
    height: 40px;
    font-size: 14px;

  }

  .cancelbtn {
    border-radius: 5px;
    background-color: #E0E3E7;
    box-shadow: none;
    font-size: 14px;
    font-family: Helvitica, sans-serif;
    font-weight: 300;
    color: #4A4A4A;
    height: 40px;
  }

  .modalinput {
    font-size: 14px;
    padding-left: 12px;
    height: 35px;
    border: 1px solid #CBCBCB;
    margin-bottom: 0px;
    border-radius: 5px;
    width: 348px;
  }

  .amountsend {
    margin-bottom: 20px;
  }

  .lbltotal {
    font-size: 15px;
  }

  .saveaddress {
    margin-top: 5px;
  }

  .copybtn {
    background-color: #108eff;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 35px;
  }

  .dotbtn {
    background-color: #E8E8E8;
    color: #4A4A4A;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 35px;
  }

  .lastused {
    color: #9B9B9B;

  }
  .recipientdtls {
    margin-bottom: 10px;
    margin-top: 15px;

  }

  .recipient {
    font-size: 14px;
    font-weight: 300;
    color: #4A4A4A;
  }

}

.vault {
  
  .modalinput {
    font-size: 15px;
    padding-left: 12px;
    height: 40px;
    border: 1px solid #979797;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .amountsend {
    margin-bottom: 20px;
    font-size: 14px;
  }
 
  .saveaddress {
    margin-top: 5px;
    font-size: 14px;
  }

  .modallabel {
    font-size: 14px;
  }

  .nixlabel {
    font-size: 14px;
  }

  .divider[_ngcontent-c7] {
    border-top: 1px solid #EAEAEA;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  h5 {
    display: inline;
    color: #4a4a4a;
    font-family: "Roboto", sans-serif;
  }

  .modalcontent {
    padding: 24px;
  }

  .modaldetails {
    padding: 24px;
    background-color: #E0E3E7;
  }

  .fright {
    float: right;
  }

  .fleft {
    float: left;

  }

  .transdetail {
    margin-bottom: 10px;
  }

  .transtotal {
    color: #4e4e4e;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;

  }
  .send {
    padding: 40px 24px;
  }  

  .amountsend {
    margin-bottom: 20px;
  }

  .lbltotal {
    font-size: 15px;
  }

.sendto {
  font-size: 14px;
}
.cancelbtn {
      border-radius: 5px;
      background-color: #E0E3E7;
      box-shadow: none;
      font-family: Helvitica, sans-serif;
      font-weight: 300;
      color: #4A4A4A;
      width: 165px !important;
      font-size: 14px;
      height: 40px !important;
    }
// .input-text{
//   position: relative;
//     top: 15px;
//     margin-right: -36px;
//     left: -135px;
//     font-size: 12px;
//     color: #adaaaa;
// }

.input-end-text{
  position: relative;
  top: 12px;
  margin-right: -36px;
  left: -50px;
}
.fa-icon { 
  position: relative;
  top: 14px;
  margin-right: -36px;
  left: -37px;
  font-size: 16px;
}
.sendbtn {
  background-image: linear-gradient(45deg, #3C17BF 0%, #00C1FF 100%);
  color: white;
  width: 100%;
  border-radius: 5px;
  font-family: Helvitica, sans-serif;
  font-weight: 300;
  height: 40px;
  font-size: 14px;

}
}
.deposit-available {
  margin-top: 15px;
  color:#b2b2b2;
}
.input-text{
  position: fixed;
  margin-left: 338px;
  margin-top: 12px;
  font-size: 12px;
  color: #adaaaa;
}
