<div *ngIf="data.walletType === 'wallet'" class="wallet">
  <div class="modalcontent">
    <h5 fxFlex="50">Receive NIX to Wallet</h5>

    <!-- <div *ngFor="let val of displayData"></div> -->
    <div _ngcontent-c7="" class="divider"></div>
    <div class="amountsend">

      <div class="recipientdtls" fxLayout="row">
        <span class="recipient" fxFlex="70">Mom</span>
        <span class="lastused" fxFlex="30" fxLayoutAlign="end">Last used: 06/06/2018</span>

      </div>

      <div fxLayout.gt-md="row" fxLayoutGap="5px">
        <input class="modalinput" matInput fxFlex="75" placeholder="Enter value" [(ngModel)]="receivedNixInfo.addresses[0]">
        <button class="dotbtn" fxFlex="10">...</button>
        <button class="copybtn" fxFlex="15" matTooltip="Copy address" ngxClipboard
        [cbContent]="receivedNixInfo.addresses[0]" (click)="copyToClipBoard()">Copy</button>
      </div>

    </div>

    <div _ngcontent-c7="" class="divider"></div>
    <div class="amountsend">
      <div class="recipientdtls" fxLayout="row">
        <span class="recipient" fxFlex="70">Binance</span>
        <span class="lastused" fxFlex="30" fxLayoutAlign="end">Last used: 06/06/2018</span>

      </div>
      <div fxLayout.gt-md="row" fxLayoutGap="5px">
        <input class="modalinput" matInput fxFlex="75" placeholder="Enter value" [(ngModel)]="receivedNixInfo.addresses[1]">
        <button class="dotbtn" fxFlex="10">...</button>
        <button class="copybtn" fxFlex="15" matTooltip="Copy address" ngxClipboard
        [cbContent]="receivedNixInfo.addresses[1]" (click)="copyToClipBoard()">Copy</button>
      </div>

    </div>
    <div _ngcontent-c7="" class="divider"></div>

    <div class="amountsend">

      <div class="recipientdtls" fxLayout="row">
        <span class="recipient" fxFlex="70">Jackieboy</span>
        <span class="lastused" fxFlex="30" fxLayoutAlign="end">Last used: 06/06/2018</span>
      </div>

      <div fxLayout.gt-md="row" fxLayoutGap="5px">
        <input class="modalinput" matInput fxFlex="75" placeholder="Enter value" [(ngModel)]="receivedNixInfo.addresses[2]">
        <button class="dotbtn" fxFlex="10">...</button>
        <button class="copybtn" fxFlex="15" matTooltip="Copy address" ngxClipboard
        [cbContent]="receivedNixInfo.addresses[2]" (click)="copyToClipBoard()">Copy</button>
      </div>

    </div>


    <div class="send buttons" fxLayout="row" fxLayoutAlign="space-between">
      <button class="cancelbtn" mat-raised-button fxFlex="40" (click)="close()">Cancel</button>
      <button class="sendbtn" mat-raised-button fxFlex="40" (click)="openSuccess('wallet')">New address</button>
    </div>

  </div>
</div>


<div *ngIf="data.walletType === 'vault'" class="vault">

  <div class="modalcontent">
    <h5 fxFlex="50">Deposit NIX to Ghost Vault</h5>
    <div _ngcontent-c7="" class="divider"></div>

    <div class="amountsend">
      <p>Amount to Send</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" matInput fxFlex="100" placeholder="Enter value" type="number" (ngModelChange)="getAmount($event)"  [(ngModel)]="amounts">
        <span class="input-text">($10,224)</span>              
      </div>
      <div fxLayout.gt-md="row" class="deposit-available">
        <div fxFlex="80">Available: 6,000.01 Ghosted NIX</div>
      </div>
    </div>

  </div>

  <div class="modaldetails">
    <div>
      <div class="transdetail" fxLayout.gt-md="row">
        <span class="modallabel" fxFlex="30">Sending</span>
        <span class="nixlabel" fxFlex="70" fxLayoutAlign="end">{{amount}} <span>&nbsp; NIX</span></span>
      </div>

      <div class="transdetail" fxLayout.gt-md="row">
        <span class="modallabel" fxFlex="30">Fee</span>
        <span class="nixlabel" fxFlex="70" fxLayoutAlign="end">{{fees | number: '.4'}}<span>&nbsp; NIX</span></span>

      </div>

      <div class="transtotal" fxLayout.gt-md="row">
        <span fxFlex="30">Total</span>
        <span fxFlex="70" fxLayoutAlign="end">{{total | number: '.4'}}<span>&nbsp;Ghosted NIX</span></span>
      </div>
    </div>
  </div>

  <div class="send buttons" fxLayout="row" fxLayoutAlign="space-between">
    <button class="cancelbtn" mat-raised-button fxFlex="40" (click)="close()">Cancel</button>
    <button class="sendbtn" mat-raised-button fxFlex="40" (click)="depositSuccess()">Deposit to Vault</button>
  </div>

</div>

