@import '../shared/shared';

$grey-12-opacity: rgba(0, 0, 0, .12);
$grey-14-opacity: rgba(0, 0, 0, .14);
$grey-20-opacity: rgba(0, 0, 0, .2);

.help {
  padding: 0 35px;

  .help-card-title {
    margin-bottom: 40px;
    margin-top: 35px;
  }
  .help-card{
    margin-bottom: 2em;    
  }
  .balance-row{
    // margin-top: 3em;
    margin-bottom: 1em;

    .item {
      border-radius: $card-radius;
      box-shadow: unset !important;
      min-height: 220px;
      padding-left: 40px;
    }
  }    

      .price {

        .description {
          color: $text;
          font-size: 12px !important;
          margin-bottom: 20px;
          font-family: "Lato", sans-serif !important;
        }                       
      }
    }

    .vertical-divider {
        border-top-width: 0;
        border-left-width: 1px;
        border-left-style: solid;
        border-color: #b5adad;
        height: 9px;
        margin-top: 4px;
      }
    .bottom-link-group{
        margin-bottom: 1em;
        margin-top: -20px;
    }
    .bottom-link {
        color: #30c2ff;
    }