@import './src/assets/config'; // import shared colors etc.

.subtitle {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.mat-form-field {
  font-family: 'Open Sans';
  width: 100%;
}

.mat-icon {
  height: auto;
  padding: 5px;
  width: auto;
}
