@import '../shared/shared';
$color-staking-blue: #108eff;
$color-staking-dark-gray: #4a4a4a;

* {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.staking__body {
  padding-right: 35px;
}

.staking__header {
  margin: 0 35px;

  .mat-tab-group {
    margin-bottom: 20px;

    &.mat-primary {
      .mat-ink-bar {
        background-color: $color-dark-grey;
      }
    }
  }

  ::ng-deep.mat-table {

    .mat-header-row {
      background: $color-dark-white;
      position: sticky;
      top: 0;
    }

    .mat-header-cell, .mat-cell {
      color: $color-dark-grey;
      font-size: 14px;
    }

    .mat-header-cell {
      color: $color-black;
    }
  }
}

.desc {
    text-align: left;
    font-size: 15px;
    margin: 0px 0px 48px 43px;
  }


  @import '../shared/shared';

  .card {
    display: inline-block;
    margin: 8px;
    padding: 30px 12px 30px 30px;
    border-radius: 2px;
    background-color: #FFF;
    margin-left: 20px;
    width: 250px;
    height: 200px;

    &__leased-staking {
      margin: 8px 8px 8px 45px;
      padding: 35px;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
      background-color: white;
      width: 50%;
    }
  }
  .card div {
    display: inline-block;
    vertical-align: text-top;
    margin-top: 4px;
  }
  .zdepth1 {
    z-index: 10;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  /* Firefox 3.5 - 3.6 */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  a{
      color: deepskyblue;
  }

  .value-label{
    font-size: 42px;
    color: $color-dark-grey;
    letter-spacing: 0;
    margin: 0;
    font-weight: bold;
  }

  .nix-row {
    margin-left: 7px !important;
  }

  .divider1 {
    border: 1px solid #bdbbbb ;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    width : 223px;
  }

  .payout-label {
    font-size: 15px;
    color: #9b9b9b;
    margin: 0px;
    font-weight: normal;

    span {
      color: $color-staking-blue;
    }
  }

  .notif-label {
    font-size: 14px;
    color: #108eff;
    margin: 0px;
    font-weight: bold;
    margin: 30px 0px 0px 60px;
    
    span {
      color: $color-staking-dark-gray;
    }
  }

  .tableHead{
    margin-left: 45px;

    &.section-label {
      margin-top: 61px;
    }

    &.optimize-div {
      margin-top: 60px;
      margin-bottom: 20px;
      font-size: 14px;

      input {
        margin-right: 10px;
      }
    }

    &.stake-enabled {
      color: $color-staking-dark-gray;
    }
    &.stake-disabled {
      color: #9b9b9b;
    }
  }

  .card1{
    margin-left: 45px;
  }

  .label {
    font-size: 17px;
    color: $color-dark-grey;
    font-weight: 600;
    padding-bottom: 35px;

    img {
      margin-right: 15px;
    }
  }
  .suffix-label {
    font-size: 18px;
    letter-spacing: 0;
  }

  .toggle-div {
    align-items: center;
    margin-top: 7px;
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 48px;
      height: 24px;
      margin-right: 11px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 1px;
      background-color: $color-staking-dark-gray;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 22px;
      left: 3px;
      bottom: 3px;
      border-radius: 1px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #0ecbc1;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #0ecbc1;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    .toggle-text {
      color: $color-dark-grey;
      font-size: 15px;
      font-weight: normal;
    }
  }

  .divider {
    border: 1px solid rgb(182, 38, 38);
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .chart-div {
    margin-top: -20px !important;

    .chart-canvas {
      margin-top: 16px;
    }
  }

  .chart-label-div {
    margin: 10px 0px 0px 20px !important;

    p {
      font-weight: normal;
      font-size: 13px;
      color: $color-staking-dark-gray;
      margin: 8px 0px;
    }

    .chart-label {
      width: 13px;
      height: 13px;
      margin-top: 0px;

      &.chart-indicator1 {
        background-color: #0ecbc1;
      }

      &.chart-indicator2 {
        background-color: #ffdd47;
      }

      &.chart-indicator3 {
        background-color: #eaeaea;
      }
    }
  }
/*  .overview-chart {

    margin-top: -20px;
  }*/

  .font-weight-600 {
    font-weight: 600;
  }

  .font-bold {
    font-weight: bold;
  }

  .font-weight-normal {
    font-weight: normal;
  }

  .cell-status-content {
    align-items: center;
  }

mat-table {
  background: transparent;

  mat-header-row {
    border: none;
    min-height: 40px;
    background: $color-dark-white;
  }

  mat-header-cell {
    color: black;
  }

  mat-row {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  mat-cell {
    color: $color-dark-grey;
    font-size: 14px;
    overflow: hidden;
    font-weight: normal;
  }

  .cell-amount {
    font-weight: bold;
  }

  .cell-tx {
    color: $color-staking-blue;
  }

  
}


.mat-column-Amount {
  flex: 0 0 15%;
}
.mat-column-Address {
  flex: 0 0 45%;
}
.mat-column-Fee {
  flex: 0 0 15%;
}
.mat-column-Status {
  flex: 0 0 10%;
}

.mat-column-Created {
  flex: 0 0 20%;
}

.mat-column-Detail {
  flex: 0 0 55%;
}



