@import './src/assets/config';
// import shared colors etc.
@import '../shared/modal-layout'; // shared layout for modals (dialog titles etc.)

.alert {
  color: $color-alert;
}

.sync-stats {
  .item {
    margin-bottom: 45px;
    text-align: center;

    &.big {
      .value {
        font-size: 30px;
      }
    }

    &.small {
      .value {
        font-size: 16px;
      }
    }

    .description {
      color: $text-muted;
      margin-top: 5px;
      text-transform: uppercase;
    }
  }
}

