<div class="processing-trans">
  <div class="modalcontent">
    <h5 fxFlex="50">Change password</h5>
    <div _ngcontent-c7="" class="divider"></div>

    <div class="amountsend">
      <p class="htxt">New password</p>
      <div fxLayout.gt-md="row">
        <div class="custom-input-group amount-input">
          <input class="input-group size" placeholder="Enter new password"><br><br>
          <input class="input-group size" placeholder="Please re-enter new password">
        </div>
      </div>


    </div>

    <div class="amountsend">
      <p class="htxt">Current password</p>
      <div fxLayout.gt-md="row">
        <div class="custom-input-group amount-input">
          <input class="input-group size" placeholder="Enter password">
        </div>
      </div>
    </div>
    <div class="password-toggle">
      <button mat-button (click)="togglePassword()">
        <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
        {{ passwordLabelText() }} password
      </button>
    </div>
    <div class="send buttons" fxLayout="row" fxLayoutAlign="space-between">
      <button class="cancelbtn" mat-raised-button fxFlex="40">Cancel</button>
      <button class="sendbtn" mat-raised-button fxFlex="40">Save</button>
    </div>
  </div>
</div>