@import './src/assets/config';

.modal {
  &.in {
    .modal-dialog {
      height: 100%;
      margin: 0;
      width: 100%;
    }
  }
}

.modal-content {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 45px;
}

.close {
  padding: 15px;
}

.close-button {
  border: 0 !important;
  box-shadow: none !important;
  padding-right: 24px;
}

.mat-spinner {
  &.mat-progress-spinner {
    &.mat-primary {
      padding-left: 46%;

      &[_ngcontent-c20] {
        position: relative;
        z-index: 555;

        &::before {
          background: $color-grey;
          bottom: 0;
          content: '';
          display: block;
          left: 0;
          position: fixed;
          right: 0;
          top: 0;
          z-index: 0;
        }
      }
    }
  }
}
