<mat-drawer-container fullscreen>
  <mat-drawer position="end" mode="side" opened class="sidebar" fxLayout="column">

    <div class="content" [fxFlex]="85">
      <div *ngIf="step === 1">

      </div>
      <div *ngIf="step === 2">
        <div class="text1">
          You cannot spend these NIX while they are assigned to a node, but you can unlock them again whenever you want by transferring
          them back to your wallet and stopping your node.
        </div>
      </div>
      <div *ngIf="step === 3">
        <div class="text">
          Finally, you need to configure your VPS. This is done outside of the NIX wallet.
        </div>
        <div class="text">
          A detailed guide for setting up your NIX ghost nodes VPS can be found here:
          <br>
          <a>VPS set-up guide </a>
        </div>
        <div class="text important">
          WARNING:
          <br/> Please keep your node key safe and never share it with anyone else
        </div>
      </div>
    </div>

    <div class="actions">
      <div *ngIf="step === 1">
        <div fxLayout="row">

          <button fxFlex="100" class="restore-btns" mat-raised-button (click)="nextStep()">
            Next
          </button>
        </div>
      </div>
      <div *ngIf="step === 2">
        <div fxLayout="row">

          <button fxFlex="100" class="restore-btns" mat-raised-button (click)="nextStep()">
            CONFIRM
          </button>
        </div>
        <br>
        <div fxLayout="row">

          <button fxFlex="100" class="restore-btn1" mat-raised-button (click)="open('transaction')">
            Save progress for later
          </button>
        </div>
      </div>
      <div *ngIf="step === 3">
        <div fxLayout="row">

          <button fxFlex="100" class="restore-btns" mat-raised-button (click)="goToNextpage()">
            I have set up my VPS
          </button>
        </div>
        <br>
        <div fxLayout="row">

          <button fxFlex="100" class="restore-btn1" mat-raised-button>
            Save progress for later
          </button>
        </div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="content">

    <div fxLayout="row">
      <div class="back-button" fxFlex="15">
        <img src="./assets/icons/SVG/arrow-left-md.svg" alt="Go back" (click)="prevStep()">
        <div class="caption">Back</div>
      </div>

      <div class="text" fxFlex="70">
        <p class="title">{{ stepTitle() }}</p>
        <p class="subtitle">Step {{ step }} of 3</p>
        <mat-progress-bar mode="determinate" class="progress-bar" [value]="stepProgress()"></mat-progress-bar>
      </div>
    </div>

    <div class="wrapper">

      <div *ngIf="step === 1" class="text-content">
        <p class="htxt">Give your Ghost node a name</p>
        <p>
          <mat-form-field class="password">
            <input matInput [type]="text" placeholder="My Ghost node" [(ngModel)]="walletNewPassword">
          </mat-form-field>
        </p>
        <p class="htxt">Static IP address of your VPS</p>
        <p>
          <mat-form-field class="password inputWidth">
            <input matInput [type]="text" placeholder="IP address" [(ngModel)]="walletRepeatPassword">
          </mat-form-field>
        </p>
        <p>
          <a>Where do I find this?</a>
        </p>
      </div>

      <div *ngIf="step === 2" class="text-content">
        <p class="htxt">Next we will move 40,000 NIX from your wallet to your node</p>
        <div class="modaldetails">
          <div>
            <div class="transdetail" fxLayout.gt-md="row">
              <span class="modallabel" fxFlex="70">Sending</span>
              <span class="nixlabel" fxFlex="30" fxLayoutAlign="end">1
                <span> NIX</span>
              </span>
            </div>

            <div class="transdetail" fxLayout.gt-md="row">
              <span class="modallabel" fxFlex="70">Fee</span>
              <span class="nixlabel" fxFlex="30" fxLayoutAlign="end">0.001
                <span> NIX</span>
              </span>

            </div>

            <div class="transtotal" fxLayout.gt-md="row">
              <span fxFlex="70">Total</span>
              <span fxFlex="30" fxLayoutAlign="end">1.001
                <span> NIX</span>
              </span>
            </div>
          </div>
        </div>
        <br>
        <br> Available: 56,789.012 NIX
      </div>

      <div *ngIf="step === 3" class="text-content">
        <p class="htxt">You will need the following Ghost node key in order to complete the VPS set-up:</p>
        <div class="modaldetails">
          <div>
            <span class="modallabel1">Node key</span>
            <br>
            <br>
            <div class="transdetail" fxLayout.gt-md="row">
              <span class="modallabel1"></span>
              <br>
              <br>
              <span class="modallabel" fxFlex="50">ZXJj8n3CtYegbFeWgs94sk4FQGtAUE12GG</span>
              <span class="nixlabel" fxFlex="30" fxLayoutAlign="end">
                <button class="copybtn" fxFlex="50">Copy</button>
              </span>
            </div>
          </div>
        </div>
      </div>


      <p class="body" *ngIf="step === 4">Use your phrase to complete the missing words</p>
      <div fxLayout="row wrap" fxLayoutAlign="start space-evenly" class="body">
        <div class="phrase" fxFlex="16" *ngFor="let phrase of recoveryPhrase; index as i">
          <small>{{ i + 1 }}</small>
          {{ phrase }}
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>