<div class="processing-trans">
  <div class="modalcontent">
    <h5 fxFlex="50">Contract Detail</h5>
    <div _ngcontent-c7="" class="divider"></div>
  </div>

  <div class="modaldetails">
    <p>Amount in Contract</p>
    <span>{{data.amount}}</span>

    <p>My address</p>
    <span>{{data.my_address}}</span>

    <p>Address that coins have been leased to </p>
    <span>{{data.lease_address}}</span>

    <p>Fee to LPoS provider</p>
    <span>{{data.fee}}%</span>

    <p>Address where LPoS provider fees are sent</p>
    <span>{{data.reward_fee_address}}</span>
  </div>
</div>
