<mat-drawer-container fullscreen>
  <mat-drawer position="end" mode="side" opened class="sidebar" fxLayout="column">

    <div class="content" [fxFlex]="85">

      <!-- Step 1 -->
      <!-- <div *ngIf="step === 1">
        <div class="text">
          Next you will be guided through the following steps:
        </div>
        <div class="text">
          1. Creating a password that you will use in order to login to your wallet and perform transactions.
        </div>
        <div class="text">
          2. Saving your recovery phrase which means you can recover your wallet,
          should anything happen to it or you want to install it on a different computer.
        </div>
        <div class="text important">
          IMPORTANT<br/>
          Make sure that you keep this information safe or you could risk losing access to your coins
        </div>
      </div> -->

      <!-- Brand new wallet Step 2 -->
      <div *ngIf="step === 1">
        <div class="text">
          Your password is important.
        </div>
        <div class="text">
          You will need it in order to access your wallet and perform transactions.
          It will also encrypt the contents of your wallet.
        </div>
        <div class="text">
          Make sure it is something that you can remember and make a copy somewhere safe.
        </div>
      </div>

      <!-- Step 3 -->
      <div *ngIf="step === 2">
        <div class="text">
          Together with your password, you can use your recovery phrase to restore
          you wallet or install it on another computer.
        </div>
        <div class="text">
          Please ensure your recovery phrase is written down or printed and then stored
          in a secure location.
        </div>
      </div>

      <!-- Step 4 -->
      <div *ngIf="step === 3">
        <div class="text">
          Confirm that you backed up your recovery phrase from the previous step by filling in the missing words.
        </div>
      </div>
    </div>

    <div class="actions">

      <div *ngIf="step === 1" fxLayout="row">
        <mat-checkbox [(ngModel)]="termsChecked" class="termsCheck">I understand and agree to the wallet Terms & Conditions
        </mat-checkbox>
      </div>

      <div *ngIf="showSidebarError" class="error">
        Field is required
      </div>

      <div fxLayout="row">
        <button fxFlex="100" class="restore-btn" mat-raised-button (click)="nextStep()">
          Next Step
        </button>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="content">

    <!-- Step 1 -->
    <div *ngIf="step === 1">
      <!-- <div class="back-button">
        <img src="./assets/icons/SVG/arrow-left-md.svg" alt="Go back" (click)="goTo('welcome')">
        <div class="caption">Back</div>
      </div> -->
      <!-- <div fxLayoutAlign="center center">
        <img src="./assets/icons/SVG/create-wallet.svg" alt="Create wallet">
      </div> -->
      <div fxLayout="row">
          <div class="back-button" fxFlex="15">
            <img src="./assets/icons/SVG/arrow-left-md.svg" alt="Go back" (click)="goTo('welcome')">
            <div class="caption">Back</div>
          </div>
  
          <div class="text" fxFlex="70">
            <p class="title">{{ stepTitle() }}</p>
            <p class="subtitle">Step {{ step }} of 3</p>
            <mat-progress-bar mode="determinate" class="progress-bar" [value]="stepProgress()"></mat-progress-bar>
          </div>
        </div>
    </div>

    <!-- Step 2 onwards -->
    <div *ngIf="step > 1">

      <div fxLayout="row">
        <div class="back-button" fxFlex="15">
          <img src="./assets/icons/SVG/arrow-left-md.svg" alt="Go back" (click)="prevStep()">
          <div class="caption">Back</div>
        </div>

        <div class="text" fxFlex="70">
          <p class="title">{{ stepTitle() }}</p>
          <p class="subtitle">Step {{ step }} of 3</p>
          <mat-progress-bar mode="determinate" class="progress-bar" [value]="stepProgress()"></mat-progress-bar>
        </div>
      </div>
      </div>

      <div class="wrapper">

        <!-- Step 2 -->
        <div *ngIf="step === 1" class="text">
          <p class="body"><b>Create a password to protect your wallet</b></p>
          <p>
            <mat-form-field class="password">
              <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Enter password"
                     [(ngModel)]="walletNewPassword" required>
            </mat-form-field>
            <mat-error *ngIf="showContentError">Field is required</mat-error>
          </p>
          <p>
            <mat-form-field class="password">
              <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Please re-enter password"
                     [(ngModel)]="walletRepeatPassword" required>
            </mat-form-field>
            <mat-error *ngIf="showContentError">Field is required</mat-error>
          </p>
          <div class="password-toggle">
            <button mat-button (click)="togglePassword()">
              <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
              {{ passwordLabelText() }} password
            </button>
          </div>
        </div>

        <!-- Step 3 & 4 -->
        <div class="text" *ngIf="step > 1">
          <p class="body" *ngIf="step === 2"><b>Copy this phrase somewhere safe</b></p>
          <p class="body" *ngIf="step === 3"><b>Use your phrase to complete the missing words</b></p>
          <div fxLayout="row wrap" fxLayoutAlign="start space-evenly" class="body">
            <div class="phrase" fxFlex="16" *ngFor="let phrase of recoveryPhrase; index as i">
              <small>{{ i + 1 }}</small>
              {{ phrase }}
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="icons" fxLayout="row" fxLayoutAlign="center" *ngIf="step === 2">
            <div fxFlex="15">
              <img [src]="clipboardIcon()" (click)="copyToClipboard()"/>
              <div class="caption">{{ clipboardText() }}</div>
            </div>
            <div fxFlex="10">
              <img src="./assets/icons/SVG/print-md.svg"/>
              <div class="caption">Print Phrase</div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->

  </mat-drawer-content>
</mat-drawer-container>
