@import '../shared';

.header {
  margin-top: 25px;
  padding: 0 30px;

  &__title {
    font-weight: 700;
    font-size: 28px;
  }
}

.sidebar {
  width: 400px;
  padding: 24px;
  font-weight: 300;
}

.actions {

  .filter-btn, .download-btn {
    font-size: 10px;
    color: $color-dark-grey;
    font-weight: 300;
    background: $color-dark-white;
    border-radius: 5px;
    margin-right: 15px;

    img {
      //margin-right: 5px;
    }
  }
}

.debug-console {
  width: 24px;
  height: 24px;
}
