@import './src/assets/config'; // import shared colors etc.

// ------ FILTER ------ //

.section {
  .subtitle { // title
    @extend %subtitle;
    margin: 24px 0 14px;

    &.first {
      margin-top: 0;
    }
  }
}

.filter-card {
  @extend %disable-select;
  margin-bottom: 16px;
  padding: 0;

  // search & sorting
  .search-sorting & {
    padding: 10px 20px;

    .filter-input {
      width: 100%;
    }

    .icon-input {
      .mat-icon {
        font-size: 14px;
        right: 2px;
        top: 5px;
      }
    }
  }

  // selection list
  .filter-list {
    padding-top: 0;
  }

  // radio buttons
  .radio-group {
    display: block;
    padding: 8px 16px;
    width: calc(100% - 32px);

    .filter-option {
      font-family: $font;
      margin: 5px 0;
      width: 100%;
    }
  }
}
