@import './src/assets/config'; // import shared colors etc.

[mat-dialog-title] {
  text-align: center;
}

.dialog-content {
  margin-bottom: 5px !important;
  min-width: 250px;
  text-align: center;
}

.address-string {
  margin: 20px auto 10px;
  width: 170px;

  .details-address {
    margin-bottom: 15px;

    .address-word {
      color: $text-muted;
      font-family: monospace;
      font-size: 13px;
    }
  }
}

.actions {
  .mat-icon {
    font-size: 14px;
    height: auto;
    margin-right: 7px;
    position: relative;
    top: -1px;
    width: auto;
  }
}
