@import './src/assets/config';

.processing-trans {

  .divider[_ngcontent-c7] {
    border-top: 1px solid #EAEAEA;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  h5 {
    display: inline;
    color: #293246;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
  }

  .modalcontent {
    padding: 24px;
  }

  .modaldetails {
    padding: 24px;
    background-color: #F8F8F8;
  }

  .confirm {
    padding: 40px 0px 20px 0px;
  }  

  .modalinput {
    font-size: 15px;
    padding-left: 12px;
    height: 35px;
    border: 1px solid #CBCBCB;
    margin-bottom: 0px;
    border-radius: 5px;
    background-color: #ffffff;

    &:first-child option{
      color: gray !important;
    }

    > option {
      font-size: 15px;
      padding-left: 12px;
      height: 35px;
      border: 1px solid #CBCBCB;
      margin-bottom: 0px;
      border-radius: 5px;
      background-color: #ffffff;
    }
  }

  .item {
    margin-bottom: 20px;
  }
}

.htxt{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}