<div class="processing-trans">
  <div class="modalcontent">
    <h5 fxFlex="50">Start Ghostnode</h5>
    <div _ngcontent-c7="" class="divider"></div>

    <div class="item">
      <p class="htxt">IP Address</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" placeholder="Enter IP address" fxFlex="100" [type]="'text'" [(ngModel)]="ghostnodeInfo.ip_address">
      </div>
    </div>

    <div class="item">
      <p class="htxt">Password</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" placeholder="Enter password" fxFlex="100" [type]="'password'" [(ngModel)]="ghostnodeInfo.password">
      </div>
    </div>

    <div class="item">
      <p class="htxt">AliasName</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" placeholder="Enter aliasname" fxFlex="100" [type]="'text'" [(ngModel)]="ghostnodeInfo.aliasName">
      </div>
    </div>

    <div class="item">
      <p class="htxt">TransactionHash</p>
      <div fxLayout.gt-md="row">
        <select class="modalinput" fxFlex="100" [(ngModel)]="ghostnodeInfo.transactionHash">
          <option value="">Select TransactionHash</option>
          <option *ngFor="let item of objectKeys(ghostnodeOutput)" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>

    <div class="confirm buttons" fxLayout="row" fxLayoutAlign="space-between">
      <button class="modal-cancel-button" fxFlex="40" (click)="close()">Cancel</button>
      <button class="modal-ok-button" fxFlex="40" (click)="start()">OK</button>
    </div>
  </div>
</div>