.create-btn {
    background: black;
    color: white;
    min-height: 20px;
    border-radius: 5px;
    font-weight: 300;
  }
.ghostImg{
    width: 375px;
    height: 375px;
}
.bolder{
    font-weight: bold;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #000;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  .step.active {
    opacity: 1;
    background-color: #000;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: red;
  }
  .circle{
    text-align:center;
  }

  .txtFont{
    font-size: 15px;
    text-align: center;
  }

  