@import './src/assets/config'; // import shared colors etc.

.transaction-list {
  margin-left: 10px;

  .transaction-item {
    color: $text-dark;
    font-size: 14px;

    .transaction-item-content {
      display: flex;
      flex-direction: column;
    }

    .multi-line {
      margin-top: 5px;
    }

    .month {
      text-transform: uppercase;
    }

    .day {
      color: $text-muted;
      font-size: 18px;
      letter-spacing: 3px;
    }
  }
}

.mat-expansion-panel {
  @extend %disable-select;
  border-bottom: 1px solid $bg-shadow;
  box-shadow: none !important;
  margin-bottom: 9px;
}

.mat-expansion-panel-header {
  font-size: 13px;
  min-height: 67px !important;

  &:hover {
    background: inherit;
  }

  .mat-expansion-panel-header-title {
    font-family: $font;
    text-transform: uppercase;
  }

  // TX date/time
  .history-date {
    border-right: 1px solid lighten($text-muted, 35%);
    color: $text-muted;
  }

  // confirmations
  .history-confirmation {
    color: $text-muted;

    .confirmations { // icon
      font-size: 12px;
      height: auto;
      margin-right: 3px;
      position: relative;
      top: 1px;
      width: auto;
    }

    &.confirm-none { // unconfirmed TXs
      color: mix($color-alert, $color-warning, 100%);
    }

    &.confirm-1 { // 1-4 confirmations
      color: mix($color-alert, $color-warning, 66%);
    }

    &.confirm-2 { // 5-8 conf.
      color: mix($color-alert, $color-warning, 33%);
    }

    &.confirm-3 { // 9-12 conf.
      color: mix($color-alert, $color-warning, 0%);
    }

    &.confirm-ok {
      color: lighten($text-muted, 20%);
    }
  }

  // TX icon
  .history-cat-icon {
    .mat-icon {
      font-size: 15px;
      height: auto;
      margin-right: 12px;
      position: relative;
      top: 3px;
      width: auto;

      // narration icon
      &.narration {
        color: lighten($text-muted, 20%) !important;
        font-size: 12px;
        margin: 0 0 0 2px;
        padding: 3px;
        top: 1px;
      }
    }

    .tx-type {
      &.staked {
        .mat-icon {
          color: $color-warning;
        }
      }

      &.orphan {
        .mat-icon {
          color: mix($bg-shadow, $text-muted);
        }
      }

      &.sent {
        font-weight: bold;

        .mat-icon {
          color: $color-alert;
        }
      }

      &.received {
        font-weight: bold;

        .mat-icon {
          color: $color;
        }
      }
    }
  }

  // TX amount
  .history-amount {
    display: block;
    text-align: right;

    .amount {
      .big {
        font-weight: bold;
      }

      .point, .small {
        color: $text-muted;
      }
    }

    .negative {
      color: $color-alert;

      .point, .small {
        color: mix($color-white, $color-alert, 30%);
      }
    }
  }
}

// detail item of TX info
.tx-detail-item {
  color: $text-muted;
  font-family: $font;
  font-size: 13px;
  padding: 5px 0;

  // shared across inputs
  .input {
    border: 0;
    outline: none;
    padding: 0 5px;

    &.narration {
      padding: 0;
    }
  }

  // to/from address
  .to-from-address {
    background: lighten($bg-shadow, 10%);
    border-radius: 4px;
    color: lighten($text, 10%);
    font-family: monospace;
    width: 100%;

    &:focus {
      background: lighten($bg-black, 10%);
      color: $color-white;
    }
  }

  // explorer link
  .tx-detail-link {
    color: $text-muted;
    font-family: monospace;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:hover {
      color: $color;
    }
  }
}

.mat-grid-tile {
  .mat-figure {
    justify-content: left;
  }
}
