@import './src/assets/config';
// import shared colors etc.
@import '../shared/shared';

.staking-overview { // listing of staking stats
  @extend %disable-select;

  th {
    font-weight: normal;
    padding-right: 20px;
    text-align: left;
  }

  td {
    font-weight: 600;
  }
}
