@import './src/assets/config';

  .modalinput {
    font-size: 15px;
    padding-left: 12px;
    height: 40px;
    border: 1px solid #979797;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .amountsend {
    margin-bottom: 20px;
    font-size: 14px;

    .send-div {
      position: relative;
    }
  }
 
  .saveaddress {
    margin-top: 5px;
    font-size: 14px;
  }

  .modallabel {
    font-size: 14px;
  }

  .nixlabel {
    font-size: 14px;
  }

  .divider[_ngcontent-c7] {
    border-top: 1px solid #EAEAEA;
    /*margin-bottom: 15px;*/
    margin-top: 15px;
  }

  h5 {
    display: inline;
    color: #4a4a4a;
  }

  .modalheader {
    padding: 24px;
    padding-bottom: 0px;
  }

  .modalcontent {
    padding: 24px;
    padding-top: 0px;
    max-height: 450px;
    // height: 50vh;
    overflow: auto;
  }

  .modaldetails {
    padding: 24px;
    background-color: #E0E3E7;
  }

  .fright {
    float: right;
  }

  .fleft {
    float: left;

  }

  .transdetail {
    margin-bottom: 15px;
  }

  .transtotal {
    color: #4e4e4e;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;

  }
  .send {
    padding: 40px 24px;
  }  

  .lbltotal {
    font-size: 15px;
  }

.sendto {
  font-size: 14px;

  .address-div {
    position: relative;

    .fa-icon { 
      position: absolute;
      top: 12px;
      margin-right: -36px;
      right: 65px;
      font-size: 16px;
    }
    mat-select {
      width: 0;
      outline: 0;
      position: absolute;
      margin-top: 10px;
      right: 45px;
      opacity: 0;
    }
  }
}

.input-text{
  // position: relative;
  //   top: 15px;
  //   margin-right: -36px;
  //   left: -135px;
  //   font-size: 12px;
  //   color: #adaaaa;
  position: fixed;
  margin-left: 250px;
  margin-top: 12px;
  font-size: 12px;
  color: #adaaaa;

  &.currency-label {
    position: absolute;
  }
}

.input-end-text{
  position: relative;
  top: 12px;
  margin-right: -36px;
  left: -50px;
}


.password-toggle {
  font-size: 11px;
  color: $color-grey;
  margin-top: -5px;

  fa-icon {
    margin-right: 5px;
  }

  .mat-button {
    padding-left: 0;
  }
}

input, label {
  position: relative;
  display: inline-block;
  margin: 2px 0;
}

label {
  padding: 2px 40px 2px 2px;
  position: relative;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
  outline: none;
}

input[type="radio"] + label {
  display: inline-block;
  height: 16px;
  padding-left: 20px;
}

input[type="radio"] + label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #979797;
  border-radius: 9px;
}

input[type="radio"] + label:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-radius: 10px;
}

input:checked + label:after {
  border-color: #108eff;
}

input[type="radio"]:focus + label {
  outline: 2px dotted #aaa;
}
