@import './src/assets/config';

  .modalinput {
    font-size: 15px;
    padding-left: 12px;
    height: 40px;
    border: 1px solid #979797;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .amountsend {
    margin-bottom: 20px;
    font-size: 14px;
  }
 
  .saveaddress {
    margin-top: 5px;
    font-size: 14px;
  }

  .modallabel {
    font-size: 14px;
  }

  .nixlabel {
    font-size: 14px;
  }

  .divider[_ngcontent-c7] {
    border-top: 1px solid #EAEAEA;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  h5 {
    display: inline;
    color: #4a4a4a;
    font-family: "Roboto", sans-serif;
  }

  .modalcontent {
    padding: 24px;
  }

  .modaldetails {
    padding: 24px;
    background-color: #E0E3E7;
  }

  .fright {
    float: right;
  }

  .fleft {
    float: left;

  }

  .transdetail {
    margin-bottom: 15px;
  }

  .transtotal {
    color: #4e4e4e;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;

  }
  .send {
    padding: 40px 24px;
  }  

  .amountsend {
    margin-bottom: 20px;
  }

  .lbltotal {
    font-size: 15px;
  }

.sendto {
  font-size: 14px;
}

.input-text{
  // position: relative;
  //   top: 15px;
  //   margin-right: -36px;
  //   left: -135px;
  //   font-size: 12px;
  //   color: #adaaaa;
  position: fixed;
  margin-left: 250px;
  margin-top: 12px;
  font-size: 12px;
  color: #adaaaa;
}

.input-end-text{
  position: relative;
  top: 12px;
  margin-right: -36px;
  left: -50px;
}
.fa-icon { 
  position: relative;
  top: 9px;
  margin-right: -36px;
  left: -37px;
  font-size: 16px;
}

.mat-select {
  width: 0;
  outline: 0;
  position: absolute;
  margin-top: 10px;
  right: 64px;
  opacity: 0;
}

.password-toggle {
  font-size: 11px;
  color: $color-grey;
  margin-top: -5px;

  fa-icon {
    margin-right: 5px;
  }

  .mat-button {
    padding-left: 0;
  }
}