<div *ngIf="data.walletType === 'wallet'" class="wallet">

  <div class="modalcontent">
    <h5 fxFlex="50">Send for wallet</h5>
    <div _ngcontent-c7="" class="divider"></div>

    <div class="amountsend">
      <p>Amount to Send</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" type="number" matInput fxFlex="100" placeholder="Enter value" value="400" (ngModelChange)="getAmount($event)"  [(ngModel)]="sendToNix.amount">
      </div>
      <div fxLayout.gt-md="row">
        <div style="color:#b2b2b2" fxFlex="80">Available: 12,000.01 NIX</div>
      </div>
    </div>

    <div class="sendto">
      <p>To</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" matInput fxFlex="100" placeholder="Enter value" value="NXefjjohhdofhgij"  [(ngModel)]="sendToNix.address">
      </div>
      <div class="saveaddress">
        <mat-checkbox>Save to address book for future use</mat-checkbox>
      </div>
    </div>


  </div>

  <div class="modaldetails">
    <div>
      <div class="transdetail" fxLayout.gt-md="row">
        <span class="modallabel" fxFlex="70">Sending</span>
        <span class="nixlabel" fxFlex="30" fxLayoutAlign="end">{{amount}}<span> NIX</span></span>
      </div>

      <div class="transdetail" fxLayout.gt-md="row">
        <span class="modallabel" fxFlex="70">Fee</span>
        <span class="nixlabel" fxFlex="30" fxLayoutAlign="end"><span>{{fees}} NIX</span></span>

      </div>

      <div class="transtotal" fxLayout.gt-md="row">
        <span fxFlex="70">Total</span>
        <span fxFlex="30" fxLayoutAlign="end">
            {{total}}
          <span> NIX</span></span>
      </div>
    </div>
  </div>

  <div class="send buttons" fxLayout="row" fxLayoutAlign="space-between">
    <button class="cancelbtn" mat-raised-button fxFlex="40" (click)="close()" >Cancel</button>
    <button class="sendbtn" mat-raised-button fxFlex="40" (click)="sendData()">Send NIX</button>
  </div>

</div>

<div *ngIf="data.walletType === 'vault'" class="vault">

  <div class="modalcontent">
    <h5 fxFlex="50">Send from Ghost Vault</h5>
    <div _ngcontent-c7="" class="divider"></div>

    <div class="amountsend">
      <p>Amount to Send</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" type="number" matInput fxFlex="100" placeholder="Enter value" value="1" (ngModelChange)="getAmount($event)" [(ngModel)]="sendToNix.amount">
      </div>
      <div fxLayout.gt-md="row">
        <div style="color:#b2b2b2" fxFlex="80">Available: 6,000.01 NIX</div>
      </div>
    </div>

    <div class="sendto">
      <p>To</p>
      <div fxLayout.gt-md="row">
        <input class="modalinput" matInput fxFlex="100" placeholder="Enter value" value="NXefjjohhdofhgij" [(ngModel)]="sendToNix.address">
      </div>
      <div class="saveaddress">
        <mat-checkbox>Save to address book for future use</mat-checkbox>
      </div>
    </div>

  </div>

  <div class="modaldetails">
    <div>
      <div class="transdetail" fxLayout.gt-md="row">
        <span class="modallabel" fxFlex="70">Sending</span>
        <span class="nixlabel" fxFlex="30" fxLayoutAlign="end" >{{amount}} <span> NIX</span></span>
      </div>

      <div class="transdetail" fxLayout.gt-md="row">
        <span class="modallabel" fxFlex="70">Fee</span>
        <span class="nixlabel" fxFlex="30" fxLayoutAlign="end">{{fees}}<span> NIX</span></span>

      </div>

      <div class="transtotal" fxLayout.gt-md="row">
        <span fxFlex="70">Total</span>
        <span fxFlex="30" fxLayoutAlign="end">{{total}}
          <span> NIX</span></span>
      </div>
    </div>
  </div>

  <div class="send buttons" fxLayout="row" fxLayoutAlign="space-between">
    <button class="cancelbtn" mat-raised-button fxFlex="48" (click)="close()">Cancel</button>
    <button class="sendbtn" mat-raised-button fxFlex="48" (click)="sendGhostVaultData()">Send ghosted NIX</button>
    <!-- <app-success [sendAmount]="sendToNix.amount" (click)="sendGhostVaultData()"></app-success> -->
  </div>

</div>
