.updates {
    padding: 0 35px;    
    color: black;

    .updates-content {
        margin-top: 30px;
        font-family: "Lato", sans-serif !important;
    }
    .updates-img {
        width: 70px;
        height: 70px;
    }
    .updates-description {
        font-size: 16px;
        font-family: "Lato", sans-serif !important;
    }
    .updates-version {
        font-size: 14px;
    }
    .version-link {
        color: #30c2ff;
        margin-top: 13px;
    }
}

