@import './src/assets/config';

.processing-trans {

  .divider[_ngcontent-c7] {
    border-top: 1px solid #EAEAEA;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  h5 {
    display: inline;
    color: #293246;
    font-family: "Helvitica", sans-serif;
    font-weight: 300;
  }

  .modalcontent {
    padding: 24px;
  }

  .send {
    padding: 40px 0px 20px 0px;

  }  

  .cancelbtn {
    border-radius: 5px;
    border: none;
    background-color: #E0E3E7;
    width: 300px !important;
    box-shadow: none;
    font-size: 14px;
    font-family: Helvitica, sans-serif;
    font-weight: 300;
    color: #4A4A4A;
    height: 40px !important;
  }


  .content-container {
    margin: 36px 7px 0px;

    .content {
      font-size: 18px;
      font-weight: normal;
      font-family: "Nunito";
      margin-bottom: 31px;
    }

    .include-check {
      /deep/ .mat-checkbox-label {
        font-size: 15px;
        font-weight: normal;
        font-family: "Nunito";
        color: #9b9b9b
      }
    }
  }
}

.htxt{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sendbtn {
  background-image:  linear-gradient(45deg, #3C17BF 0%, #00C1FF 100%);
  color: white;
  width: 100%;
  border-radius: 5px;
  font-family: Helvitica, sans-serif;
  font-weight: 300;
  height: 40px;
  font-size: 22px;
  border: none;
}

.cancelbtn {
  border-radius: 5px;
  background-color: #E0E3E7;
  box-shadow: none;
  font-size: 22px;
  font-family: Helvitica, sans-serif;
  font-weight: 300;
  color: #4A4A4A;
  height: 51px;
}
