@import './src/assets/config'; // import shared colors etc.

.container-block {
  padding-top: calc(35px - 1.25em); // offset padding from search input
}

/* ------------------------------- *\
    Search Addresses
\* ------------------------------- */

.search-address {
  margin-top: 9px;

  .mat-input-element {
    height: 20px;
    margin-left: 0;
    padding-right: 50px;
    width: calc(100% - 50px);
  }

  .mat-icon {
    font-size: 14px;
    right: 18px;
    top: 4px;
  }
}

/* ------------------------------- *\
    QR code & address details
\* ------------------------------- */

.qr-card {
  padding: 24px 10px;

  .qrcode {
    margin: 0 auto;
    width: 180px;
  }
}

.address-details {
  margin-top: 15px;
  text-align: center;
  @media (max-width: 960px) {
    text-align: left;
  }

  .details-title {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .details-label {
    color: $color-dark-grey;
    font-weight: bold;
    margin: 10px 0 25px;
    text-transform: uppercase;
    @media (max-width: 960px) {
      margin: 10px 0 20px;
    }
  }

  .details-address {
    color: $text-muted;
    font-family: monospace;
    margin: 0 25px 20px;
    @media (max-width: 960px) {
      margin: 0 0 20px;
    }
  }

  .actions {
    button {
      .copy {
        margin-bottom: 10px;
      }
    }

    .mat-icon {
      height: 16px;
    }
  }
}

/* ------------------------------- *\
    Address list
\* ------------------------------- */

.address-title { // section title (used/unused)
  color: $text-muted;
  font-weight: normal;
  text-transform: uppercase;
}

.address-info { // address "card"
  margin-bottom: 12px;

  .address-id {
    color: $text-muted;
  }

  .address-label {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .address {
    background: transparent;
    color: $text-muted;
    font-family: monospace;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background .3s;
  }

  .address-actions { // copy, sign, ...
    .mat-icon {
      font-size: 16px;
      height: auto;
      width: auto;
    }
  }
}
