<mat-drawer-container fullscreen>
  <mat-drawer position="end" mode="side" opened class="sidebar" fxLayout="column">

    <div class="content" [fxFlex]="walletInitialized ? 30 : 80">

      <!-- Already has wallet -->
      <div *ngIf="walletInitialized">
        <div class="heading" fxLayoutAlign="center">Open wallet</div>
        <mat-form-field class="password">
          <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Enter password"
                 [(ngModel)]="walletPassword">
        </mat-form-field>
        <div class="password-toggle">
          <button mat-button (click)="togglePassword()">
            <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
            {{ passwordLabelText() }} password
          </button>
        </div>
      </div>

      <!-- Brand new wallet -->
      <div *ngIf="!walletInitialized">
        <div class="heading">Welcome to NIX</div>
        <p class="text">
          Summary of NIX lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          egestas lorem congue metus pellentesque, vel cursus nisi luctus. Praesent feugiat fermentum pharetra.
        </p>
      </div>
    </div>

    <div class="actions">
      <div *ngIf="walletInitialized" fxLayout="row">
        <button fxFlex="100" class="create-new-btn" mat-raised-button (click)="goTo('main')">
          Login
        </button>
      </div>

      <div *ngIf="!walletInitialized" fxLayout="row">
        <button fxFlex="100" class="create-new-btn" mat-raised-button (click)="goTo('create')">
          Create new wallet
        </button>
      </div>

      <div fxLayout="row">
        <button fxFlex="100" class="restore-btn" mat-raised-button (click)="goTo('restore')">
          Restore from Backup
        </button>
      </div>
    </div>

  </mat-drawer>

  <mat-drawer-content class="content" fxLayoutAlign="center center">
    <img src="./assets/nix-logo.png" alt="NIX">
  </mat-drawer-content>
</mat-drawer-container>


