@import './src/assets/config'; // import shared colors etc.

// Sidebar
.sync-progress-wrapper {
  border-top: 1px solid $color-black; // simulate sidebar divider
  box-shadow: 0 1px 0 $color-shadow inset;
  padding: 15px 24px 0;

  .sync-info {
    color: $text-muted;
    font-size: 11px;
    margin: 0 0 8px;
    text-transform: uppercase;
  }

  .sync-spinner {
    max-height: 30px;

    &.mat-spinner {
      display: inline-block;
      height: 14px;
      margin: 0 7px 0 0;
      position: relative;
      top: 3px;
      width: 14px;
    }
  }
}
