@import 'widgets/shared/shared.scss';

.overview-header {
  padding: 4em 35px 15px;
  color: $text-dark;
  font-size: 14px;
  .welcome-message {
    font-size: 16px;
    .highlight {
      color: $text;
      font-weight: bold;
    }
  }
}

.overview-balance { // list of balances
  @extend %disable-select;
  padding: 15px 50px;
  .item {
    width: 225px;
    height: 150px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
    border-radius: $card-radius;
    padding-left: 40px;
  }
  .total {
    @include primaryGradient;
  }
  .anon {
    @include secondaryGradient;
  }
}

.overview-content { // area with widgets
  padding: 0 35px;
  h4, h5 {
    text-transform: uppercase;
  }
}

