<mat-drawer-container>
  <mat-drawer #help position="end" mode="over" disableClose="true" class="sidebar">
    <help-bar [navbar]="help" [faq]="faq"></help-bar>
  </mat-drawer>

  <mat-drawer-content class="overview" #overview>
    <page-header heading="Overview" [navbar]="help" [overview]="this"></page-header>
    <div class="l-overview-row" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutGap="3%" fxFlexOrder.lt-md="3">

      <mat-card fxFlexOrder.lt-md="1" fxFlex="30" class="overview-item overview-item--bg">
        <div class="overview-box overview-box--bg">
          <p class="overview-box__description">Wallet</p>
          <div class="overview-box__number-wrapper overview-box__number-wrapper--bg">
            <span class="overview-box__number overview-box__number--big">{{ getInteger(walletInfo.balance + walletInfo.immature_balance) }}</span>
            <span class="overview-box__number">.{{ getFranction(walletInfo.balance + + walletInfo.immature_balance) }}</span>
            <span class="overview-box__currency overview-box__currency--bg"> NIX</span>
          </div>
          <div class="overview-box__divider overview-box__divider--bg"></div>
          <div class="overview-box__number overview-box__number--small" *ngIf="currentCurrency == 'USD'">{{BTCwalletbalance | number: '.4'}} BTC ({{USDwalletbalance | currency : 'USD' : 'symbol'}})</div>
          <div class="overview-box__number overview-box__number--small" *ngIf="currentCurrency == 'EUR'">{{BTCwalletbalance | number: '.4'}} BTC ({{EURwalletbalance | currency : 'EUR' : 'symbol'}})</div>
          <div class="margin-top-20px">
            <p class="overview-box__number overview-box__number--small">{{ walletInfo.unconfirmed_balance | number: '.4'}} NIX pending</p>
            <p class="overview-box__number overview-box__number--small">{{ walletInfo.immature_balance | number: '.4'}} NIX immature</p>
            <p class="overview-box__number overview-box__number--small">{{ walletInfo.balance | number: '.4'}} NIX available</p>
          </div>
          <div class="margin-top-15px overview-box__btn-wrapper" fxLayout="row">
            <button class="overview-box__btn overview-box__btn--bg" mat-raised-button (click)="openSend('wallet')">Send</button>
            <button class="overview-box__btn overview-box__btn--bg" mat-raised-button (click)="openReceive('wallet')">Receive</button>
          </div>
        </div>
      </mat-card>

      <mat-card fxFlexOrder.lt-md="2" fxFlex="30" class="overview-item">
        <div class="overview-box">
          <p class="overview-box__description">Ghost Vault</p>
          <div class="overview-box__number-wrapper">
            <span class="overview-box__number overview-box__number--big">{{ getInteger(walletInfo.ghost_vault) }}</span>
            <span class="overview-box__number">.{{ getFranction(walletInfo.ghost_vault) }}</span>
            <span class="overview-box__currency"> Ghosted NIX</span>
          </div>
          <div class="overview-box__divider"></div>
          <div class="overview-box__number overview-box__number--small overview-box__number--grey" *ngIf="currentCurrency == 'USD'">{{BTCvaultbalance | number: '.4'}} BTC ({{USDvaultbalance | currency : 'USD' : 'symbol'}})</div>
          <div class="overview-box__number overview-box__number--small overview-box__number--grey" *ngIf="currentCurrency == 'EUR'">{{BTCvaultbalance | number: '.4'}} BTC ({{EURvaultbalance | currency : 'EUR' : 'symbol'}})</div>
          <div class="margin-top-20px">
            <p class="overview-box__number overview-box__number--small overview-box__number--grey">{{ getInteger(walletInfo.ghost_vault_unconfirmed) }}.{{ getFranction(walletInfo.ghost_vault_unconfirmed) }} Ghosted NIX pending</p>
            <p class="overview-box__number overview-box__number--small">&nbsp;</p>
            <p class="overview-box__number overview-box__number--small">&nbsp;</p>
          </div>
          <div class="margin-top-15px overview-box__btn-wrapper" fxLayout="row">
            <button class="overview-box__btn" mat-raised-button (click)="openSend('vault')">Send</button>
            <button class="overview-box__btn" mat-raised-button (click)="openReceive('vault')">Deposit</button>
          </div>
        </div>
      </mat-card>

      <mat-card fxFlexOrder.lt-md="3" fxFlex="30" class="overview-item">
        <div class="overview-box">
          <p class="overview-box__description">NIX Price</p>
          <div class="overview-box__number-wrapper">
            <span class="overview-box__number overview-box__number--big" *ngIf="currentCurrency == 'USD'">{{balanceInUSD | currency:"USD":'symbol'}}</span>
            <span class="overview-box__number overview-box__number--big" *ngIf="currentCurrency == 'EUR'">{{balanceInEUR | currency:"EUR":'symbol'}}</span>
          </div>
          <div class="overview-box__divider"></div>
          <div fxLayout="row" fxLayoutGap="5px">
            <span class="overview-box__number overview-box__number--small overview-box__number--grey" fxFlex="50" fxFlexOrder="1">
              <fa-icon [icon]="faBtc"></fa-icon>
              {{balanceInBTC }}
            </span>
            <span class="overview-box__number overview-box__number--small" [ngClass]="{'overview-box__number--positive': NIXpercentage >= 0, 'overview-box__number--negative': NIXpercentage < 0}" fxFlex="50" fxFlexOrder="2" fxLayoutAlign="end" >{{NIXpercentage}}%</span>
          </div>
          <div class="overview-box__small-chart" (click)="goToChart()">
            <div class="row">
              <div style="display: block;">
                <canvas baseChart style="width: 250px; height: 120px;" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                  [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="l-overview-row" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutGap="3%" fxFlexOrder.lt-md="4">
      <mat-card class="overview-item overview-item--small" fxFlex="63" fxFlexOrder.lt-md="1">
        <div class="overview-box__transactions">
          <p class="overview-box__description">Recent Transactions</p>
          <transaction-table [recent]="true" [display]="{numTransactions: 3, columns: transactionColumns, header: false, recent: true}" class="overview__recent-transactions"></transaction-table>
          <div>
          </div>
        </div>
      </mat-card>
      <mat-card class="overview-item overview-item--small" fxFlexOrder.lt-md="2" fxFlex="30">
        <p class="overview-box__description">Node Status</p>
        <span class="overview-box__number overview-box__number--big">{{enabledNodeCount}}</span>
        <span class="overview-box__text"> / {{isActiveNodeCount}} Enabled</span>
        <div class="overview-box__divider"></div>
        <span class="overview-box__number overview-box__number--small overview-box__number--grey">{{monthEarn}} NIX earned so far this month</span>
        <div class="overview-box__number overview-box__number--small overview-box__number--grey margin-top-40px">
          <div class="overview-box__status">
            <div class="overview-box__status-icon"></div>
            <p *ngIf="isActiveNodeCount > 0">No issue</p>
            <p *ngIf="isActiveNodeCount === 0">issue</p>
          </div>
        </div>

      </mat-card>
    </div>
    <div class="l-overview-row--bottom" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="5%" fxFlexOrder.lt-md="4">
      <div class="overview-box__wallet-status">
        Wallet Status: {{walletInfo.encryptionstatus}}
      </div>
      <div class="overview-box__wallet-status">
        Current Block: {{currentBlock}}
      </div>
      <div class="overview-box__wallet-status">
        Connections: {{connections}}
      </div>
      <div class="overview-box__wallet-status">
        TOR networking: {{torStatus}}
      </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container>
