@import './src/assets/config';

.viewNode {

  .divider[_ngcontent-c7] {
    border-top: 1px solid #EAEAEA;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  h5 {
    display: inline;
    // color: #293246;
    color: #000000;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
  }

  .modalcontent {
    padding: 24px;
    border-radius: 5px;
  }

  .modaldetails {
    padding: 24px;
    background-color: #F8F8F8;
  }

  .fright {
    float: right;
  }

  .fleft {
    float: left;

  }

  .send {
    padding: 40px 0px 20px 0px;

  }

  .copybtn {
    background-color: #108eff;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    float: right;
    margin-right: -300px;
    margin-top: -27px;
    padding: 7px;
    width: 50px;

  }
 



}


