@import './src/assets/config'; // import shared colors etc.

// ------ UI ------ //

.section {
  &.advanced { // "advanced options" fields
    background: mix($color-white, $bg);
    border-top: 1px dashed darken($bg, 7%);
    margin: 0 -24px !important;
    padding: 8px 24px;
  }
}

.mat-card {
  margin-bottom: 20px;
}

.title { // box titles
  font-size: 13px;
  font-weight: bold;
  margin: -4px 0 16px !important;
  text-transform: uppercase;

  .advanced-options {
    float: right;
    position: relative;
    right: -13px;
    top: -5px;
  }
}

.subtitle { // subtitles (eg. "privacy level" in anon
  color: $color-grey;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.balance { // balance selection radio buttons
  @extend %tfx;
  font-family: $font;
  margin: 0 -24px !important;
  padding: 8px 24px;

  &:hover {
    background: $bg-hover;
  }

  .name { // balance type
    font-size: 14px;
    font-weight: bold;
  }

  .desc { // available balance
    color: $text-muted;
    font-size: 11px;

    .amount {
      color: $color;
      font-weight: 600;
      margin-left: 5px;
    }

    .help-icon { // explanation of "1e-8" at blind balances (after sending all blind)
      color: $color-info;
      font-size: 14px;
      line-height: 0;
      margin-left: 3px;
      position: relative;
      top: 2px;
    }
  }
}

.mat-icon {
  font-size: 16px;
  height: auto;
  width: auto;
}

// ------ LAYOUT ------ //

app-header {
  .bottom-line { // line under tabs
    border-bottom: 1px solid $bg-shadow;
  }
}

.privacy-level { // slider in Anon TXs
  margin: 0 0 20px;

  .privacy-label {
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 10px;

    &.medium {
      text-align: center;
    }

    &.high {
      text-align: right;
    }
  }
}

.pay-to { // whole "pay to" card
  padding-bottom: 1px;

  .receiver-address { // recipient's addy & label
    margin-bottom: 30px !important;
  }

  .widget-help {
    margin-top: 0;
  }
}

.actions {
  margin: 0;
  text-align: right;

  button {
    margin: 0 0 0 12px;
  }
}


// ------ FORMS ------ //

mat-form-field {
  &.full-width {
    width: 100%;
  }
}

.underlining-select {
  position: relative;
}
