@import './src/assets/config';
// import shared colors etc.
@import '../shared/modal-layout'; // shared layout for modals (dialog titles etc.)

.hot-stake-address {
  font-family: monospace;
  width: 100%;
}

.cold-stake-address {
  font-family: monospace;
  margin: 15px 0 0;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .wallet-buttons-container {
    button {
      display: block;
      float: none;
      margin: 10px auto 0;
    }
  }
}
