.cursor-pointer {
  cursor: pointer;
}

.text-uppercase {
  text-transform: uppercase;
}

.list-header {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}

.zindex {
  z-index: 9999;
}

.text-right {
  text-align: right;
}

.uc-first {
  text-transform: capitalize;
}
