@import './src/assets/config'; // import shared colors etc.

// ------ ALERTS/NOTIFICATIONS ------ //

mat-card {
  &.notification {
    @extend %disable-select;
    background: $bg;
    border-left: 6px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px $bg-shadow !important;
    padding: 12px 28px;

    &.info {
      border-left: 6px solid $color;

      .title {
        &.tag {
          background: $color;
        }
      }
    }

    &.alert {
      border-left: 6px solid $color-alert;

      .title {
        &.tag {
          background: $color-alert;
        }
      }
    }

    .title {
      font-size: 13px;
      font-weight: 600;
      margin: 0;

      .tag {
        background: $text;
        border-radius: 99px;
        color: $color-white;
        font-size: 12px;
        font-weight: 700;
        margin: 0 1px;
        padding: 0 6px;
      }

      .button {
        margin-left: 8px;
      }
    }
  }
}
