.withdraw-node {

    .divider[_ngcontent-c7] {
      border-top: 1px solid #EAEAEA;
      margin-bottom: 15px;
      margin-top: 15px;
    }
  
    h5 {
      display: inline;
      color: #000000;
      font-family: "Roboto", sans-serif;
    }
  
    .modalcontent {
      padding: 24px;
    }
  
    .modaldetails {
      padding: 24px;
      background-color: #E0E3E7;
    }
  
    .fright {
      float: right;
    }
  
    .fleft {
      float: left;
  
    }
  
    .transdetail {
      margin-bottom: 10px;
      font-size: 12px;
    }
  
    .transtotal {
      color: #000000;
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 10px;
  
    }
  
    .send {
      padding: 20px 24px;
    }
  
    .removebtn {
      // background-image: linear-gradient(45deg, #13006D 0%, #6F00F5 100%); 
    color: white;
    border-radius: 5px;
    font-family: Helvitica, sans-serif;
    font-weight: 300;
    width: 165px !important;
    height: 40px !important;
    font-size: 14px;
    background-image: linear-gradient(21deg, #13006D 0%, #107cd8 100%);
  
    }
  
    .cancelbtn {
      border-radius: 5px;
      background-color: #E0E3E7;
      box-shadow: none;
      font-family: Helvitica, sans-serif;
      font-weight: 300;
      color: #4A4A4A;
      width: 165px !important;
      font-size: 14px;
      height: 40px !important;
    }
    
    .available-reward{
        color:#b2b2b2;
        margin-top: 10px;
        ::ng-deep.mat-checkbox {          
                
                    // border: 1px solid #b2b2b2 !important;
                    color: #b2b2b2 !important;
                  
            
          }
    }
    .amountsend {
      margin-bottom: 20px;
    }
  
    .lbltotal {
      font-size: 15px;
    } 

    .modallabel {
      font-size: 12px;
    }
  
    .nixlabel {
      font-size: 14px;
    }
    mat-checkbox{
        .saveaddress {
            border: 1px solid #b2b2b2 !important;
            color: #b2b2b2;
          }
    }
    
  }


  
  .modalinput {
    font-size: 15px;
    padding-left: 12px;
    height: 40px;
    border: 1px solid #97979785;
    border-radius: 4px;
    margin-bottom: 5px;
}
  
.custom-input-group {
    position: relative;
    // color: #aaa;
    font-size: 16px;
  }
  
  .custom-input-group input {
    width: 402px;
    height: 40px;
    background: #fcfcfc;
    border: 1px solid #aaa9;
    border-radius: 3px;
  }
  
  .custom-input-group input {
       text-indent: 15px;
    }
    .amount-input input{
        font-size: 15px;
    }
  .custom-input-group .fa-icon { 
    position: absolute;
    top: 10px;
    left: 375px;
  }
  .custom-input-group .input-end-text{
    position: absolute;
    top: 10px;
    left: 365px;
  }
  .custom-input-group .input-text{
    position: absolute;
    top: 17px;
    left: 45px;
    font-size: 11px;
    color: #adaaaa;
  }