@import './src/assets/config'; // import shared colors etc.

.price {
  @extend %enable-select;
  //padding-top: 5px;

  .description {
    @extend %disable-select;
    color: $text;
    font-size: 16px;
    margin-bottom: 20px;
    //margin-top: 6px;
  }

  .number {
    color: $text;
  }

  .point {
    color: $text-muted;
  }

  .big {
    font-size: 24px;
    @media screen and (min-width: 1500px) {
      font-size: 28px;
    }
  }

  .small {
    font-size: 11px;
    @media screen and (min-width: 1500px) {
      font-size: 13px;
    }
  }

  .divider {
    border-top: 1px solid darken($color-light-grey, 5%);
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
