@import './src/assets/config'; // import shared colors etc.

app-header {
  button {
    .add-address {
      padding: 3px 16px;

      mat-icon {
        font-size: 20px;
        height: auto;
        line-height: 1.5;
        margin-right: 6px;
        top: 0;
        width: auto;
      }

      span {
        color: $text;
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }
}

.container-block {
  padding-top: 20px; // offset button and search form
}

.type-filter {
  margin-top: 16px;
}

.search-address {
  .mat-icon {
    font-size: 14px;
    right: 18px;
    top: 4px;
  }
}
