<mat-drawer-container fullscreen>
  <mat-drawer-content class="content">
    <div class="wrapper">
      <mat-drawer-container>
        <mat-drawer-content>
          <page-header heading="Settings"></page-header>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>

    <div class="settings">

      <mat-tab-group>
        <mat-tab label="PREFERENCES">
          <app-preferences></app-preferences>
        </mat-tab>
        <mat-tab label="SECURITY">
          <app-security></app-security>
        </mat-tab>
        <mat-tab label="ADDRESS BOOK">
          <app-adressbook></app-adressbook>
        </mat-tab>
        <mat-tab label="NETWORK">
          <app-network></app-network>
        </mat-tab>
      </mat-tab-group>

    </div>
  </mat-drawer-content>
</mat-drawer-container>